// flex
.flex {
    display: flex;
}
.f-1 {
    flex: 1;
}
.ai-c {
    align-items: center;
}
.jc-c {
    justify-content: center;
}
.jc-sb {
    justify-content: space-between;
}
.fd-c {
    flex-direction: column;
}

// width
.w-100-p {
    width: 100%;
}
//margin
.ml-10 {
    margin-left: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}
// padding
.p-10 {
    padding: 10px;
}
.pt-20 {
    padding-top: 20px;
}
//font
.fw-b {
    font-weight: bold;
}

// import
@import "./2.component.scss";