.cm-section-title {
    text-indent: 2em;
    line-height: 2;
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    font-size: 16px;
    padding: 20px 0;
    margin-bottom: 0;
}
.default-theme {
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before {
        background-color: rgba(82, 196, 26, 1) !important;
    }
    .ant-radio-button-wrapper {
        &.ant-radio-button-wrapper-checked, &:hover{
            color: rgba(82, 196, 26, 1) !important;
            border-color: rgba(82, 196, 26, 1) !important;
        }
    }
    .ant-anchor-link-title:hover,.ant-anchor-link-active > .ant-anchor-link-title {
        color: rgba(82, 196, 26, 1) !important;
    }

    .page-style {
        background: #e8e8e8;
        .article {
            width: 800px;
            padding: 0 20px;
            margin: 0 auto;
            background: #fff;
        }
        .footer {
            width: 800px;
            margin: 0 auto;
            background: rgba(82, 196, 26, 0.8);
            line-height: 50px;
            text-align: center;
            color: #fff;
            font-weight: bold;
            font-size: 14px;
        }
    }
}