.cm-section-title {
    text-indent: 2em;
    line-height: 2;
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    font-size: 16px;
    margin: 20px 0;
}
.default-theme {
    .ant-radio-button-wrapper {
        &.ant-radio-button-wrapper-checked{
            color: rgba(82, 196, 26, 1);
            border-color: rgba(82, 196, 26, 1) !important;
        }
    }
}